div{
  box-sizing:border-box;
  outline:1px solid red;
  padding:2.0em;
}
/* (a) */
/* .holder{
	display: grid;
	grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
} */

/* (b) */
/* .holder{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
} */
/* (c) */
.holder{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}
/* (d) */
/* .holder{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.block1{
  grid-column-start: 1;
	grid-column-end: 4;
}
.block2{
  grid-column-start: 1;
	grid-column-end: 4;
}
.block3{
  grid-column-start: 1;
}
.block4{
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}
.block8{
  grid-column-start: 1;
	grid-column-end: 4;
}
.block9{
  grid-column-start: 1;
	grid-column-end: 4;
} */
